 
*{font-size:45px; text-align:center; margin:auto; font-family:Georgia; }
body{background-color:#ABE7B2;}

h1{
color:#93BFC7;
}
h2{
color:#93BFC7;
font-size:30px;
}

.cont{
margin-top:5%;
 width:70%;
 padding:25px;
 background-color:#ECF4E8;
 border-radius:20px;
 text-align:center;
border:groove;
}

input[type=text]{
width:50%;
height:5%;
font-size:30px;
color:grey;
}