 
*{font-size:45px; text-align:center; margin:auto; font-family:Georgia; }
body{background-color:#C06E52;}

h1{
color:#FBF2C0;
}
h2{
color:#FBF2C0;
font-size:30px;
}
h3{
color:#43281C;
font-size:20px;
}


.cont{
margin-top:5%;
 width:70%;
 padding:25px;
 background-color:#48392A;
 border-radius:20px;
 text-align:center;
border:groove;
}

.fc{
margin-top:5%;
 width:40%;
 padding:25px;
 background-color:#FBF2C0;
 border-radius:20px;
 text-align:center;
border:groove;
}

input[type=text]{
width:60%;
height:5%;
font-size:30px;
color:grey;
}

input[type=submit]{
font-size:30px;
color:#48392A;
}