 
*{font-size:50px; text-align:center; margin:auto; font-family:Georgia; }
body{background-color:azure;}

h1{
color:#E75480
}

.cont{
margin-top:5%;
 width:80%;
 padding:25px;
 background-color:#ffffff;
 border-radius:40px;
 text-align:center;
}