*{font-size:2vw; text-align:center;font-family:Georgia; margin:auto;}
body{background-color:lightyellow;}
h1{font-size:50px;margin:2%;color:#5b2d0d;}
h2{border:groove; height:auto; width: 50% ;border-radius:10px; margin:2% auto; text-align:center;color:#1f2937; }

.btn-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:6px;
	
}
.btn-container button{
	height:50px;
	width:40%;
	font-size:24px;
	border-radius:10px;
	border:groove;
	transition: 0.2s;
	color:#fffaf0;
	background-color:#7c2d12;
	cursor:hand;
}
.btn-container button:hover{
background:#92400e;