* {
  font-size: 2.5vw;
  text-align: center;
  margin: auto;
  font-family: Georgia;
  color: #6A6A6A; 
}

body {
  background-color: #F8ECF2; 
  padding: 40px 0;
}

h1 {
  margin: auto;
  color:#5E548E ; 
}

.fc {
  border: 2px solid #E6CFE3;
  width: 60%;
  padding: 5%;
  border-radius: 30px;
  background-color: #FFFFFF;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

input[type="text"] {
  width: 60%;
  padding: 10px;
  font-size: 1.6vw;
  border-radius: 12px;
  border: 1px solid #D9CFE0;
  outline: none;
}


input[type="checkbox"] {
  transform: scale(1.2);
  margin: 0 12px;
  accent-color: #CDB4DB; 
}

input[type="submit"] {
  margin-top: 20px;
  background-color: #FFD6E8; 
  border: none;
  padding: 12px 32px;
  border-radius: 20px;
  font-size: 1.5vw;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #FFC1DD;
}

h2 {
  margin-top: 30px;
  color: #5A5A5A;
}
